.app {
    height: 100vh;
    background-color: cadetblue;
    color: yellow;
}

header,
footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    height: 10%;
}

main {
    height: 85%;
    padding: 15px;
}

footer {
    height: 5%;
}

@media(max-width: 320px) {
    header {
        font-size: 0.9rem;
    }
}

@media(max-width: 480px) and (min-width: 324px) {
    header {
        font-size: 1.2rem;
    }

    main {
        padding: 30px;
    }
}