.app {
    height: 100vh;
    background-color: cadetblue;
    color: yellow;
}

header,
footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    height: 10%;
}

main {
    height: 85%;
    padding: 15px;
}

footer {
    height: 5%;
}