.form {
    text-align: center;
    height: 100%;
    margin-bottom: 20px;
}

.form h2 {
    margin-bottom: 20px;
}

.form button {
    display: inline-block;
    height: 50px;
    width: 50px;
    margin: 0 20px 0 20px;
    border: none;
    border-radius: 50%;
    background-color: wheat;
    color: teal;
    cursor: pointer;
}

.form button:last-child {
    display: block;
    height: 70px;
    width: 70px;
    margin: 20px auto 0 auto;
    color: yellowgreen;
}

.form button.inactive {
    color: rgb(73, 69, 69);
    filter: opacity(40%);
}

.svg-inline--fa.fa-w-16 {
    height: 100%;
    width: 95%;
}

@media(max-width: 320px) {
    .form button {
        margin: 0 45px 0 45px;
    }

    .form button:last-child {
        margin: -45px auto 0 auto;
    }
}

@media(max-width: 480px) and (min-width: 324px) {
    .form button {
        margin: 0 80px 0 80px;
    }

    .form button:last-child {
        margin: -55px auto 0 auto;
    }
}