.guest {
    text-align: center;
    height: 100%;
    margin-bottom: 20px;
}

.guest h2 {
    margin-bottom: 20px;
}

.guest p:nth-of-type(1) {
    margin-bottom: 20px;
    font-size: 1.3rem;
}

.guest img {
    width: 60%;
    border-radius: 15px;
    border: 4px solid wheat;
    margin-bottom: 10px;
}

.guest p:nth-of-type(2) {
    font-size: 1.5rem;
}

.progress {
    position: relative;
    margin: 50px 20px 0 20px;
    height: var(--progressionBarHeight);
    border: var(--progressionBarBorder) solid rgb(73, 69, 69);
    border-radius: 15px;
    background-color: wheat;
    overflow: hidden;
}

.progress p {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(var(--progressionBarHeight) - 2*(var(--progressionBarBorder)));
    background-color: yellowgreen;
    transform: translate(-100%, 0);
    animation-name: timeLapse;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

@keyframes timeLapse {
    0% {
        transform: translate(-100%, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

@media(max-width: 320px) {
    .progress {
        margin: 20px 20px 0 20px;
    }
}