.info {
    text-align: center;
}

.info p {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 1.2rem;
}

.info button {
    display: inline-block;
    height: 50px;
    width: 50px;
    margin: 0 20px 0 20px;
    border: none;
    border-radius: 25px;
    background-color: wheat;
    cursor: pointer;
}

.svg-inline--fa.fa-w-16 {
    height: 100%;
    width: 95%;
}


.info button:nth-of-type(1) {
    color: tomato;
}

.info button:nth-of-type(2) {
    color: yellowgreen;
}

@media(max-width: 480px) {
    .info p {
        font-size: 1.5rem;
    }
}