.question {
    text-align: center;
    margin-bottom: 20px;
}

.question p {
    margin-bottom: 20px;
    font-size: 1.3rem;
}

.question img {
    width: 50%;
    border-radius: 15px;
    border: 4px solid wheat;
    margin-bottom: 20px;
}

.question input {
    display: block;
    width: 80%;
    height: 40px;
    margin: 15px auto 30px auto;
    padding: 10px;
    border: 4px solid rgb(73, 69, 69);
    border-radius: 15px;
    font-family: 'Gluten', cursive, sans-serif;
    text-align: center;
}

@media(max-width: 320px) and (max-height: 480px) {
    .question {
        margin-bottom: 10px;
    }

    .question p {
        margin-bottom: 10px;
    }

    .question input {
        height: 35px;
        margin: 10px auto 10px auto;
    }
}

@media(max-width: 720px) and (max-height: 375px) and (orientation: landscape) {
    .question {
        margin-bottom: 10px;
    }

    .question p {
        font-size: 1.2rem;
        margin-bottom: 5px;
    }

    .question img {
        width: 40%;
        float: left;
    }

    .question input {
        width: 50%;
        margin: 10px auto 15px auto;
    }

    .form::after {
        content: "";
        clear: both;
        display: table;
    }
}

@media(max-width: 640px) and (max-height: 480px) and (orientation: landscape) {
    .question {
        margin-bottom: 10px;
    }

    .question p {
        margin-bottom: 10px;
    }

    .question img {
        width: 40%;
        margin-bottom: 5px;
    }

    .question input {
        width: 70%;
        margin: 5px auto 10px auto;
    }
}

@media(max-width: 640px) and (max-height: 360px) and (orientation: landscape) {
    .question {
        margin-bottom: 10px;
    }

    .question p {
        font-size: 1.2rem;
        margin-bottom: 5px;
    }

    .question img {
        width: 40%;
        float: left;
    }

    .question input {
        width: 50%;
        margin: 10px auto 15px auto;
    }

    .form::after {
        content: "";
        clear: both;
        display: table;
    }
}