.startPage {
    height: 100%;
}

.description p {
    margin-bottom: 40px;
    text-align: justify;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.buttons {
    text-align: center;
}

.buttons button {
    font-family: 'Gluten', cursive, sans-serif;
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: rgb(73, 69, 69);
    border: none;
    border-radius: 10px;
    transition: 0.2s;
    cursor: pointer;
}

.firstBtnGroup button:hover {
    border: 4px solid rgb(73, 69, 69);
    font-size: 1.5rem;
}

.firstBtnGroup button.choosen {
    border: 4px solid rgb(73, 69, 69);
    font-size: 1.5rem;
}

.firstBtnGroup button {
    height: 40px;
    width: 80%;
    margin-top: 20px;
}

.firstBtnGroup div:nth-child(1) button {
    background-color: yellowgreen;
}

.firstBtnGroup div:nth-child(2) button {
    background-color: khaki;
}

.firstBtnGroup div:nth-child(3) button {
    background-color: tomato;
}

.firstBtnGroup div p {
    margin-top: 10px;
}

.secondBtnGroup {
    display: flex;
    width: 80%;
    margin: 10px auto 10px auto;
    justify-content: center;
    align-items: center;
}

.secondBtnGroup button:first-child {
    height: 50px;
    width: 50px;
    margin-right: 20px;
    background-color: wheat;
    color: rgb(73, 69, 69);
    display: flex;
    justify-content: center;
    align-items: center;
}



.secondBtnGroup button:first-child:hover svg {
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.secondBtnGroup button:last-child {
    height: 80px;
    width: 80%;
    color: wheat;
    background-color: teal;
}

.secondBtnGroup button:last-child:hover {
    border: 4px solid wheat;
    font-size: 2rem;
}

.secondBtnGroup .svg-inline--fa.fa-w-16 {
    height: 100%;
    width: 100%;
}


@keyframes rotate {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}

@media(max-width: 320px) {
    .description p {
        margin-bottom: 0px;
    }

    .firstBtnGroup button {
        height: 35px;
        margin-top: 5px;
    }

    .secondBtnGroup button:last-child {
        height: 60px;
        width: 80%;
    }
}

@media(max-width: 480px) {
    .description p {
        font-size: 1.3rem;
    }
}